<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link th:href="@{/register.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="control">
    <div class="item">
        <div class="active">注册</div>
    </div>
    <div class="content">
        <div style="display: block;">
            <form th:action="@{/user/register}" method="post">
                <p>用户名</p>
                <input type="text" placeholder="请输入用户名" name="username" />
                <p>密码</p>
                <input type="password" placeholder="请输入密码" name="password"/>
                <br/>
                <input type="submit" value="注册"/>
            </form>
            <p>已注册，<a th:href="@{/user/loginweb}">去登录</a></p>
            <p><span th:text="${regerr}"></span></p>
        </div>
    </div>
</div>
</body>
</html>
