<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章查找</title>
</head>
<body>
<h1>文章查找</h1>
<p th:text="'欢迎, ' + ${username}"></p>

<form th:action="@{/article/search}" method="post">
    <input type="hidden" th:name="userid" th:value="${userid}"/>
    <input type="hidden" th:name="username" th:value="${username}"/>
    <div>
        <label for="searchmethod">查找方法:</label>
        <select id="searchmethod" name="method">
            <option value="title">按标题查找</option>
            <option value="id">按id查找</option>
            <option value="category">按分类查找</option>
        </select>
    </div>
    <div>
        <label for="searchcontent">方法内容:</label>
        <input type="text" id="searchcontent" placeholder="输入内容" name="methodcontent"/>
    </div>
    <div>
        <button type="submit">查找</button>
    </div>
</form>

</body>
</html>
